# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# PyInstaller
build/
dist/
release/
*.log

# Runtime data
data/*
!data/.gitkeep
firmware/*
!firmware/.gitkeep

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
